@model IEnumerable<QLTapChi.Models.TapChiBaiViet>

@{
    ViewBag.Title = "Danh Sách Tạp Chí";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="p-3">
    <h2 class="p-2 text-bg-light w-75">Danh Sách Tạp Chí</h2>

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">@TempData["Success"]</div>
    }

    <table class="table">
        <thead>
            <tr>
                <th>Tiêu Đề</th>
                <th>Tác Giả</th>
                <th>Từ Khóa</th>
                <th>Nội Dung</th>
                <th>Trạng Thái</th>
                <th>Ngày Gửi</th>
                <th>Tên Lĩnh Vực</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TieuDe)</td>
                    <td>@Html.DisplayFor(modelItem => item.TacGia)</td>
                    <td>@Html.DisplayFor(modelItem => item.TuKhoa)</td>
                    <td>
                        <a href="@Url.Action("DownloadFile", "BaiBao", new { id = item.IDTapChiBaiViet })" class="btn btn-sm btn-outline-dark">Download</a>
                    </td>
                    <td>
                        @{
                            string badgeHtml = "";
                            switch (item.TrangThai)
                            {
                                case 0:
                                    badgeHtml = "<span class='badge bg-warning text-dark'>Chờ TBT phân công</span>";
                                    break;
                                case 1:
                                    badgeHtml = "<span class='badge bg-info text-dark'>Chờ BTV phân công</span>";
                                    break;
                                case 2:
                                    badgeHtml = "<span class='badge bg-primary'>Chờ PB phản hồi</span>";
                                    break;
                            }
                        }
                        @Html.Raw(badgeHtml)
                    </td>
                    <td>@item.NgayGui.ToString("dd/MM/yyyy")</td>
                    <td>@Html.DisplayFor(modelItem => item.LinhVuc.TenLinhVuc)</td>
                    <td>
                        <a href="@Url.Action("XoaBaiBao", "BaiBao", new { id = item.IDTapChiBaiViet })"
                           onclick="return confirm('Bạn có chắc chắn muốn xóa bài báo này không?');">
                            <i class="fas fa-trash"></i>
                        </a>
                        | 
                        <a href="@Url.Action("CapNhatBaiBao", "BaiBao", new { id = item.IDTapChiBaiViet })">
                            <i class="fas fa-edit"></i>
                        </a>
                        | 
                        <a href="@Url.Action("ChiTietBaiBao", "BaiBao", new { id = item.IDTapChiBaiViet })">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>