@model IEnumerable<QLTapChi.Models.LinhVuc>

@{
    ViewBag.Title = "DanhSachLinhVuc";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>DanhSachLinhVuc</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLinhVuc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLinhVuc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDLinhVuc }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDLinhVuc }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDLinhVuc })
        </td>
    </tr>
}

</table>
