@model QLTapChi.Models.BienTapVien
@using QLTapChi.Models;
@{
    ViewBag.Title = "CapNhatBTV";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    QLTapChiEntities db = new QLTapChiEntities();
}

<h2>CẬP NHẬT BIÊN TẬP VIÊN</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IDBienTapVien)

    <div class="form-group">
        @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.MatKhau, htmlAttributes: new { @class = "form-label fw-bold" })
                <input type="password" class="form-control" id="MatKhau" name="MatKhau" value="@Model.MatKhau" />
                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger small" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SDT, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.QuocGia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.QuocGia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.QuocGia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ChuyenNganh, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.ChuyenNganh, new { htmlAttributes = new { @class = "form-control" } })*@

            @{
                var linhvuc = db.LinhVucs.ToList();
            }
            <select class="form-control" name="ChuyenNganh">
                @foreach (var item in linhvuc)
                {
                    <option value="@item.TenLinhVuc">@item.TenLinhVuc</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.ChuyenNganh, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class = "control-label col-md-2">Loại biên tập viên</label>
        <div class="col-md-10">
            <select class="form-control" name="LoaiBienTapVien">
                <option value="TongBienTap" @(Model.LoaiBienTapVien == "TongBienTap" ? "selected" : "")>Tổng biên tập</option>
                <option value="BienTapVien" @(Model.LoaiBienTapVien == "BienTapVien" ? "selected" : "")>Biên tập viên</option>
            </select>
            @Html.ValidationMessageFor(model => model.LoaiBienTapVien, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
